<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salon Booking</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<!-- HERO SECTION -->

<div class="hero">

    <div class="hero-text">
        <h1>Satisfaction,<br>Every Visit</h1>

        <p>Welcome to [Name] - [Slogan]</p>
    </div>

    <div class="hero-image">

        <img src="/images/salon.png"
             alt="Salon Interior">

    </div>
  
</div>


</body>
</html>